<!doctype html>
<html lang='en'>
        <head>
                <title>Squirrel Tracker</title>
        </head>
        <body>
<style>
      body{
	padding-top: 20px;
        padding-left: 20px; padding-right: 20px;
      }
</style>
                <p>
		<div align='center'>
			<img src="https://i.pinimg.com/564x/ae/87/c5/ae87c590d9d70b1d5eb16e9d7b62bd32.jpg" style="height:400px" class="rounded" alt="..." >	
		</div>
		<h2 style=font-size:80px class='text-center'><strong>Welcome to the Squirrel Tracker:)</strong></h2>
		<div align='center'>
			<br>
			<a href="/tracker/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Squirrel Sightings</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/map/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Sightings Map</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/tracker/stats" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Sightings Statistics</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/tracker/add" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Add New Sighting</strong></a>
		</div>
		</p>
		<br>
	</body>
</html>
