<!doctype html>
<html lang='en'>
        <head>
                <title>Squirrel Tracker: List of Squirrel Sightings</title>
        </head>
        <body>
<style>
      body {
        padding-left: 20px; padding-right: 20px;
      }
</style>
		<p>
		<br>
		<strong><h2>  Say Hello to Squirrels: Welcome to the Squirrel Tracker! </strong></h2>
		<hr>
		</p>
		<p>
		<ul>
			<h5><ul><a href="/map/" class="badge badge-primary">MAP</a> Click the button to view the squirrel tracking map.</ul></h6>
			<h5><ul><a href="stats/" class="badge badge-info">STATS</a> Click the button to look at some descriptive statistics.</ul></h6>
			<h5><ul><a href="add/"  class="badge badge-warning">ADD</a> If you see a squirrel, click the ADD button to add a new squirrel sighting!</ul></h6>
		</ul>
		</p>
		<br>
		<div>
                <table class="table">
			<thead class = "thead-dark">
                                <tr>
                                        <th scope = "col">Unique Squirrel Id</th>
                                        <th scope = "col">Longitude</th>
                                        <th scope = "col">Latitude</th>
                                        <th scope = "col">Date</th>
                                        <th scope = "col">Shift</th>
					<th scope = "col">Age</th>
                                </tr>
                        </thead>

                        <tbody>
                        {% for squirrel in squirrels %}
                                <tr>
                                        <td><a href="{{squirrel.Unique_Squirrel_Id}}/">{{ squirrel.Unique_Squirrel_Id }}</a></td>
                                        <td>{{ squirrel.Longitude }}</td>
                                        <td>{{ squirrel.Latitude }}</td>
                                        <td>{{ squirrel.Date }}</td>
                                        <td>{{ squirrel.Shift }}</td>
					<td>{{ squirrel.Age }}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                </table>
		</div>
		<br>
		<br>
        </body>
</html>
