<!doctype html>
<html>
	<head>
		<title>Squirrel Tracker: General Statistics </title>
        </head>
        <body>
<style>
      body {
        padding-left: 20px; padding-right: 20px;
      }
</style>
	<br>
	<strong><h2>Some Interesting Statistics about Squirrels</h2></strong>
	<hr>
	<br>
	<ul>
		<li>The difference between juvenile and adult squirrels: {{Juvenile_Adult_diff}}  </li>
		<li>Number of squirrels chasing: {{num_chasing}}</li>
		<li>Number of Squirrels climbing: {{num_climbing}}</li>
		<li>Number of squirrels in AM:  {{early_bird_squirrel}}</li>
		<li>Number of squirrels moaning: {{num_moan}}</li>
	</ul>
	</body>
</html>
